*~
build/
volker*
nohup.out
increasing_num_robots/
first_version_report/
*#
nohup*.out
data/
.idea/
regenerate*.sh
genesis/genesis*.json
experiments/config*.txt
experiments/epuck*.argos
mail.txt
node_modules
compiled_contract/**
controllers/epuck_environment_classification/data.txt
zmqpp/**
